<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>page | {% block title %}{% endblock %}</title>

    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/common/common.css')}}"
    />
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/common/input.css')}}"
    />
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/common/button.css')}}"
    />

    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
