{% extends "layout.html"%}
{% from "macro/common/input.html" import basicInput %}
{% from "macro/common/button.html" import confirmButton %}
{% from "macro/common/select.html" import basicSelect %}

{% block title %}
회원가입
{% endblock %}

{% block link %}
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/user/login.css')}}"
/>
{% endblock %}

{% block script %}{% endblock %}

{% block body %}
<div class="title-wrap">
    <span class="title">Join Us</span>
</div>
<form class="form-wrap" action="/user/login" method="POST">
    <div class="input-wrap">
        {{ basicInput("", "email", "email", "email", "login-input") }}
    </div>
    <div class="input-wrap">
        {{ basicInput("", "password", "password", "password", "login-input") }}
    </div>
    <div class="input-wrap">
        {{ basicInput("", "text", "first_name", "first_name", "login-input") }}
    </div>
    <div class="input-wrap">
        {{ basicInput("", "text", "last_name", "last_name", "login-input") }}
    </div>
    <div class="input-wrap margin30px">
        {% set genderArr = ["male", "female"] %}
        {{ basicSelect(genderArr, "gender", "join-select") }}
    </div>
    <div class="input-wrap">
        {{ confirmButton("LOGIN", "submit", "submit-btn") }}
    </div>
</form>
<div class="join-us-wrap">
    <span>회원이 되고 싶으신가요?&nbsp;&nbsp;</span>
    <a href="#">회원가입</a>
</div>
{% endblock %}
