{% extends "layout.html"%}

{% block title %}
메인
{% endblock %}

{% block link %}{% endblock %}

{% block script %}{% endblock %}

{% block body %}
<table border="1">
    <th>아이디</th>
    <th>패스워드</th>
    <th>성</th>
    <th>이름</th>
    <th>이메일</th>
    <th>성별</th>
    {% for user in row %}
    <tr>
        <td>{{ user.uid }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gender }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
